$primary-background-color: white;
$mobile-nav-shadow: rgba(128, 128, 128, 0.2);
$primary-company-color: navy;
$secondary-company-color: blue;
$second-secondary-color: gray;
$testimonial-sec-bg-color: rgb(247, 245, 245);