.faqs-cont {
    background-color: $secondary-company-color;
    color: $primary-background-color;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        width: 90%;
        margin: auto;
        font-size: 50px;
        margin-bottom: 10px;
        text-align: left;
    }

    .faqs-quest-hero {
        // padding: 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #btn {
            display: flex;
            justify-content: space-between;
            border: 1px solid white;
            border-radius: 10px;
            width: 100%;
            margin-top: 10px;
            font-size: 14px;
            padding: 15px;
            background-color: $secondary-company-color;
            color: $primary-background-color;
        }

        .dropdown-content {
            display: none;
            overflow: hidden;
            transition: 0.5s ease-out;
            margin-top: 10px;
            padding: 15px;
            padding-bottom: 10px;
            background-color: $primary-background-color;
            color: $secondary-company-color;
            // width: 100%;
            // margin-top: 8px;
            // padding: 20px 15px;
            // font-size: 14px;
            border-radius: 10px;
        }

        p {
            cursor: pointer;
        }
    }
}