@import 'resets';
@import 'config';
@import 'menu';
@import 'nav';
@import 'main-section';
@import 'sub-main.scss';
@import 'sub-main2';
@import 'faqs';
@import 'testimonials';
@import 'start-growing';
@import 'footer';


@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
@mixin flexEvenly($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-evenly;
    align-items: center;
}

body {
    background-color: $primary-background-color;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;

    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 999;
        color: white;
    }

    .brands-cont {
        background-color: gray;
        height: 120px;
    }

    .active-users-text-cont {
        height: 250px;
        @include flexCenter(row);

        h2 {
            text-align: center;
            line-height: 2.5rem;
            width: 60%;
            font-size: 25px;
            color: black;
            span {
                color: $secondary-company-color;
            }
        }
    }
}

@media (min-width: 1000px) {
    body {
        background-color: $primary-background-color;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 100vw;
    
        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 999;
            color: white;
        }
    
        .brands-cont {
            background-color: gray;
            height: 120px;
        }
    
        .active-users-text-cont {
            height: 200px;
            @include flexCenter(row);
    
            h2 {
                text-align: center;
                line-height: 2.5rem;
                width: 60%;
                font-size: 35px;
                color: $primary-company-color;
                span {
                    color: $secondary-company-color;
                }
            }
        }
    }
}